<h1>Welcome to the D'n'D Manager on Rails!</h1>
This D'n'D Manager is created at the Ruby course at the DHBW Karlsruhe, 6th semester.<br>
The D'n'D Manager aims to help you with your very own D'n'D game. This includes, but is not limited to:
<listing>
  <li>Create your own Character</li>
  <li>Automatic calculation of modifiers, proficiencies, ... </li>
  <li>Manage your spells and attacks</li>
  <li>Roll the Dice!</li>
</listing>

<%= link_to 'Show Existing Characters', characters_path %>
